<h2>ログイン</h2>
<%= form_with(url: login_path, method: :post, local: true) do |f| %>
  <div>
    <%= f.label :uid, "ユーザーID" %>
    <%= f.text_field :uid %>
  </div>
  <div>
    <%= f.label :pass, "パスワード" %>
    <%= f.password_field :pass %>
  </div>
  <div>
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h2>新規ユーザー登録</h2>
<%= form_with(model: @user, url: users_path, local: true) do |f| %>
  <div>
    <%= f.label :uid, "ユーザーID" %>
    <%= f.text_field :uid %>
  </div>
  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "新規登録" %>
  </div>
<% end %>
