<h1>レシピ一覧</h1>

<%= link_to 'メインページに戻る', root_path %>
<%= link_to '新しいレシピを作成', new_recipe_path %>

<table>
  <thead>
    <tr>
      <th>料理名</th>
      <th>ジャンル</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe_path(recipe) %></td>
        <td><%= recipe.genre %></td>
        <td>
          <%= link_to '編集', edit_recipe_path(recipe) %> |
          <%= link_to '削除', recipe_path(recipe), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
